h1 {
    width: 100%;
    text-align: center;
    background-color: rgb(19, 83, 80);
    color: white;
    padding: .5em;
}

#reportero {
    max-width: 60%;
}

.alert {
    display: inline-flex;
    min-width: 100%;
    justify-content: space-between;
}